
.backet_pop
    height: 100vh
    position: fixed
    overflow: visible
    top: 0px
    background: var(--color_rgb_205_141_122)
    right: -400px
    &_active
        right: 0px
        width: 400px
        animation: isOpen 2s ease
        z-index: 100
    &_a
        display: block
        text-align: center
        width: 250px
        height: 30px
        background: var(--color_C3E2C2)
        border-radius: 5px
        font-size: var(--font_size_22)
.backet_pop_box
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 220px
    line-height: 30px
.span_des_top
    color: #fff
    font-size: var(--font_size_16)
@keyframes name
    0%
        width: 0px
    50%
        width: 200px
    100%
        width: 300px
.close_pop
    width: 32px
    margin-left: 10px
    fill: #fff
    &:hover
        fill: red
.count_backet
    color: var(--color_rgb_205_141_122)
.backet_items
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-left: 20px
    .backet_item_box
        display: flex
        justify-content: start
        margin-top: 10px
        .backet_item_box_img
            width: 90px
            height: 120px
            border-radius: 5px
        .backet_item_box_describe
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-left: 5px
        .remove_item_icon
            margin-top: 10px
            width: 24px
            height: auto
.backet_item_order_btn
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    width: 250px
    height: 50px
    font-size: 22px
    background: var(--color_C3E2C2)
